body {
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-weight: 700;
}

li .active {
  /* border: 2px solid white; */
  color: white;
  /* padding: 14px 40px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  /* border-radius: 10px; */
}

li a:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 1s;
  font-weight: 700;
}



#banner {
  background-color: #085ab8;
}

#footer{
  background-color: #085ab8;
}

#about{
  background-color: #085ab8;
}

#success{
  background-color: #085ab8;
}

#service{
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn-contact{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
}

.btn-paket{
  background-color: #0d6efd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  border-radius: 20px;
}

a.btn-paket:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 1s;
}

a.btn-contact:hover {
    color: white;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 1s;
}

.btn-choose{
  background-color: #0d6efd; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
}

#layanan{
  margin-bottom: 50px;
  margin-top: 100px;
}

#about{
  margin-bottom: 50px;
  margin-top: 100px;
}

#section-call{
  margin-bottom: 50px;
}


.border-layanan:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 1s;
}
.title-layanan {
  font-weight: 700;
  color: #085ab8;
}

.title-footer {
  font-weight: 700;
}



.font-bold {
  font-weight: 700;
}

.font-regular{
  font-weight: 400;
}

.font-italic{
  font-weight:300;
}

.white {
  -webkit-filter: grayscale(50%);
  Safari 6.0 - 9.0
  filter: grayscale(10%);
}

.overlay-css{
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5)
}

.overlay-css:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: transform 1s;
}


/* Custome color */

.bg-blue-custome {
    background-color: #085ab8
}

.text-blue-custome {
    color: #085ab8;
}

/* /Custome color */

